* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
footer {
  padding: 32px;
  display: grid;
  text-align: center;
  background-color: rgba(0, 0, 255, 0.548);
  font-size: 24px;
  font-weight: 700;
}

header {
  margin-bottom: 16px;
}

footer {
  margin-top: 16px;
}

main {
  flex: 1;
  display: grid;
  gap: 24px;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  main {
    padding: 0 24px;
  }
}

@media screen and (min-width: 1280px) {
  main {
    gap: 32px;
    padding: 0 32px;
  }
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  border: 0;
  border-radius: 2px;
  padding: 8px 16px;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  background-color: #e8e8e8;
  color: #545454;
}

button:disabled:hover {
  opacity: unset;
}
