.previewContainer {
  position: sticky;
  top: 16px;
  overflow-y: scroll;
  max-height: 100vh;
  padding-bottom: 32px;
}

.previewContent {
  padding-right: 16px;
}

.sectionsContainer {
  display: grid;
  gap: 24px;
}
