.modalContainer {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000b3;
  padding: 16px;
}

.modalContent {
  max-width: 600px;
  width: 100%;
  background-color: white;
  padding: 16px;
  border: 1px solid black;
  border-radius: 4px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.titleContainer button {
  font-size: 24px;
  line-height: 30px;
}
